body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #1e1e1e;
}

a {
    text-decoration: none;
}

/* NAV BAR*/

.navbar {
    background-color: rgba(255, 255, 255, 0.061);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 5px 0;
}

.logotipo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo div>a {
    display: flex;
    align-items: center;
    color: rgb(236, 236, 236);
    margin: 0 1rem;
    transition: transform .2s ease;
}


ul {
    padding: 0;
    list-style: none;
    display: table;
    width: 200px;
    margin-right: 1rem;
    text-align: center;
}

li {
    display: table-cell;
    position: relative;
}

.links li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.links li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.links a:hover:after {
    width: 100%;
    left: 0;
}

.links>a img {
    width: 25px;
}


/* SCROLL */

.scroll {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scroll-btn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-family: 'Poppins';
    animation: bounce 1s infinite linear;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-top: -10rem;
}


@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* PRESENT*/

.presentacion {
    position: relative;
    background: linear-gradient(315deg, #000000 0%, #2f2f2f 100%);

    height: 50vw;
    display: flex;
    align-items: center;
}


.animacion {
    font-weight: 600;
    font-size: 56px;
    background: linear-gradient(to right, rgb(241, 214, 175)20%, rgba(166, 166, 166, 0.676)50%, rgb(241, 214, 175)70%, rgba(166, 166, 166, 0.676)80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% auto;
    animation: gradient 5s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

.datos {
    margin-left: 5rem;
    animation: fade-in 1s ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
    }

    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}

.datos span {
    font-size: 140px;
    font-weight: bold;
}

/* SECTION - PRO */


.m-img img {
    max-width: 650px;
    height: 350px;
    overflow: hidden;
    border-radius: 1rem;
}


.m-box .m-img {
    grid-column: 2/2;
    place-self: center;

}



.m-box {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    padding: 0 5rem;
}

.m-title {
    place-self: center;
}

.m-span {
    margin-top: 3rem;
    grid-column: 1/2;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 2rem;
}

.m-span span {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    width: 3rem;
    margin: 1rem 10px;
}

.logos img:nth-child(1),
.logos img:nth-child(2),
.logos img:nth-child(3) {
    width: 2.4rem;
}

.descripcion {
    margin-top: 1rem;
    width: 450px;
}


.slider {
    position: relative;
    margin: 5rem 0;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.703)20%, transparent);
    z-index: 1;
}

.slider .box-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35vw;
}

.content-box {
    z-index: 3;
    display: flex;
    justify-content: left;
    padding-right: 500px;
    width: 900px;
}


.arrow {
    z-index: 3;
    display: block;
    opacity: 100%;
}

.content-box span {
    color: white;
}

.arrow a img {
    width: 32px;
}

.arrow a {
    cursor: pointer;
}

#btn-direction {
    background-color: #303030;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
    font-family: 'Poppins';
    border-radius: 25px;
    font-weight: bold;
    transition: background-color .3s ease-out;
    cursor: pointer;
}

#btn-direction:hover {
    background-color: #515151;
}

.slider {
    transition: opacity 0.5s ease-in-out;
}

.content-box {
    transition: opacity 0.5s ease-in-out;
}


/*FOOTER*/

footer {
    background-image: linear-gradient(to top, #1f1f1f, #252525, #2b2b2b, #313131, #373737);
    height: 12vw;
}

.f-box {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.f-section:nth-child(3) {
    display: flex;
    flex-direction: column;

}

.f-sp {
    margin-bottom: 1rem;
}

.f-sp span {
    color: white;
}

.f-section:nth-child(3) a {
    color: white;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}