body {
    font-family: 'Poppins';
    background-color: #eee;
}

.contenedor {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid black;
}

#botonCalcular {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Poppins';
}

#botonCalcular:hover {
    background-color: #45a049;
}